
.container {
    max-width: 100%;
    overflow-x: hidden !important;
    padding: 0 80px;
    margin: 0 auto;
}

::-webkit-scrollbar-thumb:horizontal {
    display: none;
    height: 0;
}

/* 2 titles on top */
.top {
    /* padding-left: 8.5vw; */
    padding:160px 0 20px;
    margin: 0 auto;
}

/* Blocknet staking calculator */
.top .title {
    color: var(--text-color-0);
    margin: 0 auto;
    transition: .3s ease;
    padding-bottom: 20px;
    flex-grow: 0;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #fff;
}

/* With the tool below you can calculate your staking reward in $BLOCK. */
.top .sub_tool {
    margin: 0 auto;
    font-size: 18px;
    transition: .3s ease;
    text-align: center;
    flex-grow: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #fff;
}

.inputs {
    width: 100%;
    padding: 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: .3s ease;
}

/* Inputs SVG */
.block .input .drop_input {
    padding-left: 98px;
    padding-bottom: 2px;
    position: absolute;
}

/* ~ between inputs */
.inputs .tidle {
    color: var(--text-color-1);
    font-size: 28px;
    margin: 42px 0 0 0;
    display: none;
}

/* BLOCK to stake / Stake for / Price in USD */
.inputs .pre {
    color: var(--text-color-1);
    margin: 22px 0 4px 14px;
    transition: .3s ease;
    padding-bottom: 7px;

    flex-grow: 0;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.inputs .block {
    position: relative;
}

.inputs .block .dropdown {
    max-height: 0px;
    width: 160px;
    color: var(--text-color-0);
    background: var(--bg-color-1);
    position: absolute;
    top: 94px;
    left: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
    transition: .2s;
    border-radius: 0 0 4px 4px;
    z-index: 9999;
}

/* Invisible element for aligning stuff */
.invis {
    opacity: 0;
}

.inputs .block .dropdown::-webkit-scrollbar {
    width: 5px;
}

.inputs .block .dropdown::-webkit-scrollbar-thumb {
    background: var(--bg-color-0);
    width: 5px;
    border-radius: 4px;
}

.inputs .block .dropdown[data-open="true"] {
    visibility: visible;
    transition: .7s;
    top: 94px;
    max-height: 500px;
}

.inputs .block .dr2 .dropdown[data-open="true"] {
    max-width: 86%;
}

.inputs .block .dr2 .dropdown[data-open="false"] {
    max-width: 86%;
}

.inputs .block .dropdown .item {
    padding: 12px 12px;
    margin: 0;
    font-size: 14px;
    border-top: 1px solid var(--bg-color-0);
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs .block .dropdown .item:hover {
    color: var(--text-color-2);
    background: var(--bg-color-2);
    border-top: 1px solid var(--bg-color-0);
    cursor: pointer;
}

.inputs .block .dropdown .item small {
    color: var(--text-color-2);
    font-size: 10px;
}

.inputs .block .dropdown .item small .emoji {
    font-size: 12px;
}

.inputs .block .dropdown .item p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
}

/* BLOCK to stake: INPUT */
.inputs .block input {
    font-family: 'IBM Plex Mono', monospace;
    height: 2.9rem;
    width: 170px;
    color: var(--text-color-0);
    background: var(--bg-color-1);
    border: 1px solid var(--border-0);
    border-radius: 2px;
    padding: 0 18px 0 12px;
    margin: 0 12px;
    font-size: 13px;
    transition: .3s ease;
    position: relative;
    white-space: nowrap;
    text-overflow: clip;
}

/* Stake for: INPUT Dropdown */
.inputs .block button {
    font-family: 'IBM Plex Mono', monospace;
    height: 3rem;
    width: 140px;
    color: var(--text-color-0);
    background: var(--bg-color-1);
    border: 1px solid var(--border-0);
    border-radius: 2px;
    padding: 0 18px 0 12px;
    margin: 0 12px;
    font-size: 13px;
    transition: .3s ease;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    text-overflow: clip;
}

/* Price in USD INPUT */
.inputs .block .input_pr {
    font-family: 'IBM Plex Mono', monospace;
    height: 2.9rem;
    width: 160px;
    color: var(--text-color-0);
    background: var(--bg-color-1);
    border: 1px solid var(--border-0);
    border-radius: 2px;
    padding: 0 18px 0 12px;
    margin: 0 12px;
    font-size: 13px;
    transition: .3s ease;
    position: relative;
    position: relative;
    display: flex;
    align-items: center;
}

.inputs .block input[type=number]::-webkit-inner-spin-button, 
.inputs .block input[type=number]::-webkit-outer-spin-button,
.inputs .block input::-webkit-outer-spin-button,
.inputs .block input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputs .block input:active,
.inputs .block input:focus {
    outline: none;
    border: 1px solid var(--border-0);
}

.inputs .block button:hover .arrow {
    color: var(--text-color-0);
    margin-top: 6px;
}

.inputs .block .input {
    position: relative;
    display: flex;
}

/* BLOCK To Stake: INPUT "BLOCK" text */
.inputs .block .input p {
    color: var(--text-color-2);
    position: absolute;
    top: 0;
    right: 28px;
    text-transform: uppercase;
    font-size: 12px;
}

.stake_input {
    display: flex;
    align-items: center;
}

.inputs .block .input .blocktxt {
    font-size: 14px;
    color: #aaa;
}

.inputs .block .input .arrow {
    transform: rotate(-91deg);
    position: absolute;
    right: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease;
}

.inputs .block .input .arrow path {
    fill: var(--text-color-1) !important;
}

.inputs .block .input .arrow:hover {
    margin-top: 6px;
}

.inputs .block .input .num {
    color: var(--text-color-1);
    position: absolute;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease;
    overflow: hidden;
}

/* PRICE in USD INPUT stuff */
.block .input_pr .drop_input {
    padding-left: 80px;
    left: 1334px;
    padding-bottom: 2px;
}

/* PRICE in USD "CURRENT" */
.inputs .block .input_pr p {
    color: var(--text-color-2);
    position: absolute;
    top: 6px;
    right: 28px;
    text-transform: uppercase;
    font-size: 12px;
}

.inputs .block .input_pr .arrow {
    transform: rotate(-91deg);
    position: absolute;
    right: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease;
}

.inputs .block .input_pr .arrow path {
    fill: var(--text-color-1) !important;
}

.inputs .block .input_pr .arrow:hover {
    margin-top: 6px;
}

.inputs .block .input_pr .num {
    color: var(--text-color-1);
    position: absolute;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease;
    overflow: hidden;
}

.inputs .block .input_pr p {
    font-size: 10px;
    padding-right: 13px;
}

.errnotif {
    text-align: center;
    height: 10px;
}

.errnotif span {
    /* color: #e32929; */
    color: #242424;
    font-weight: 300;
    transition: .3s ease;
    font-size: 0.1px;
    position: relative;
    bottom: -5px;
}

/* Staking estimates */
.outputs {
    width: 80%;
    padding: 10px 0 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    transition: .3s ease;
    margin: 0 auto;
}

.outputs .block {
    position: relative;
    padding: 0 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 1;
    text-align: left;
}

/* Daily / monthly / yearly / apr title */
.outputs .block p {
    color: var(--text-color-0);
    font-weight: 300;
    margin: 30px 0 0 0;
    transition: .3s ease;
    font-size: 15px;
    width: 122px;
    padding-bottom: 5px;
}

.outputs .block .invis {
    font-size: 15px;
}

.outputs .block p .icon {
    transition: .3s ease;
    padding-left: 3px;
    color: rgb(128, 128, 128);
    filter: invert(1);
}

.outputs .block p .icon:hover {
    cursor: pointer;
    opacity: .5;
}

/* Little arrow on the tooltip */
.infoArrow {
    content:'a';
    position: absolute;
    left: 223px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    top: 31px !important;
    border-top: 5px solid #b3bdc6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    box-shadow: inset 0 0 6px rgb(168, 156, 155);
    transition: .3s ease !important;
    opacity: 1;
}

/* Tooltip */
.outputs .block .apr {
    width: 400px !important;
    color: #000;
    background: #b3bdc6;
    box-shadow: inset 0 0 6px rgb(155, 163, 168);
    position: absolute;
    top: -5px !important;
    right: -50px;
    padding: 6px 10px;
    border-radius: 4px;
    opacity: 0;
    transition: .3s ease;
    text-align: center;
}

.outputs .block .apr:hover,
.outputs .block p .icon:hover~.apr {
    visibility: visible !important;
    opacity: 1;
}

/* $xx dollar amount */
.outputs .block h4 {
    color: var(--color-green);
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    transition: .3s ease;
}

/* BLOCK amount below dollar */
.outputs .block small {
    color: var(--text-color-2);
    transition: .3s ease;
}

/* "Staking rewards" title and below */
.bottom {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* padding: 0 80px !important; */
    text-align: left;
}

/* info titles */
.bottom .title {
    color: var(--text-color-0);
    font-size: 28px;
    font-weight: 500;
}

/* % of total supply */
.supplyp {
    color: var(--text-color-2);
    font-size: 14px;
}

.txt_linebreak {
    display: none;
}

/* "Staking rewards" */
.title_rewards {
    color: var(--text-color-0);
    /* margin: 18px 0 12px; */
    font-size: 28px;
    font-weight: 600;
    transition: .3s ease;
    text-align: left;
    /* padding-top: 20px;
    padding-left: 47px; */
    padding:20px 0px;
}

.txt_nums {
    font-weight: 600;
}

.text {
    padding: 40px 0 80px;
}

/* Paragraphs on bottom */
.bottom .text {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.bottom .text .area .title {
    font-size: 22px;
    font-weight: 500;
}

/* .bottom .text .area .t_one::after {
    content: "";
    height: 1px;
    width: 100px;
    margin: 0 6px;
    padding: 0 12px;
    background: var(--bg-color-2);
    display: block;
} */

/* .bottom .text .area .t_two::before {
    content: "";
    height: 1px;
    width: 100px;
    margin: 0 6px;
    background: var(--bg-color-2);
    display: block;
} */

/* .bottom .text .area .txt {
   
    padding-right: 20px;
    font-size: 16px;
   
}

.bottom .text .area .txt2 {
    padding-left: 20px;
   
} */

/* bottom divs adjusting */
/* .bottom .text > div {
    flex: 0 44.0%;
    padding: 30px;
} */

.area {
    padding-top: 0px !important;
}

.text .area {
    padding-bottom: 5px !important;
}

.bottom .text .area .txt {
    float: none;
}

.bottom .title_reward {
    position: relative;
}

.bottom .infocontainer {
    position: relative;
    padding:10px 30px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* .bottom .text .area {
    padding-left: 30px;
    padding-top: 0px;
    width: 704px;
} */

.bottom .text .area .txt .t_one {
    font-size: 16px;
}

.bottom .text .area .title .t_two {
    font-size: 16px;
}

.bottom .text .area .t_one::after {
    display: none;
}
  
.bottom .text .area .t_two::before {
    display: none;
}

.bottom .text .area .txt {
    font-size: 16px !important;
}

.bottom .text .area {
    padding-bottom: 30px;
    flex: 1 1;
}

.bottom .text .area .col1 {
    padding-right: 30px;
}
.bottom .text .area .col2 {
    padding-left: 30px;
}

/* Tooltip resizing behavior */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0 40px;
    }
    .infoArrow {
        left: 320px !important;
        right: 0px;
        margin: 0 auto;
        width: 0;
        height: 0;
        top: 35px !important;
    }

    .apr {
        top: -10px !important;
        right: 0 !important;
        width: 330px !important;
    }
}

@media only screen and (min-width: 580px) and (max-width: 767px) {
    .container {
        padding: 0 30px;
    }
    .outputs .block .apr {
        right: 15px !important;
        max-width: 275%;
    }

    .infoArrow {
        top: 54px;
        left: 0px;
        right: -27px !important;
    }
}


@media only screen and (min-width: 240px) and (max-width: 480px)  {
    .container {
        padding: 0 15px;
    }
    .infoArrow {
        top: 53px;
        left: 214px !important;
        right: 165px;
    }
    
    .outputs .block {
        width: 160px !important;
    }

    .outputs .block p {
        margin: 30px 0 0 0;
        width: 160px;
    }
}

.bottom .infocontainer {
    width: 100%;
    padding: 0 0 30px;
    transition: .3s ease;
}

.bottom .infocontainer .info {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.bottom .infocontainer .info .invis {
    font-size: 15px;
}

.bottom .infocontainer .info .title {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    text-align: left;
    /* min-width: 240px; */
    /* padding-bottom: 4px; */
}

.bottom .infocontainer .info .sub {
    color: var(--text-color-0);
    font-size: 22px;
    font-weight: 500;
    /* margin-top: -5px; */
    text-align: left;
}

.bottom .infocontainer .info .supplyp {
    font-size: 12px;
}

.info {
    width: 100%;
}

.infocontainer > div {
    flex: 0 25%;
    /* width: 90px; */
    margin-bottom: 10px;
}

/*  Tooltip resizing behavior  */
@media only screen and (min-width: 992px) and (max-width: 1089px) {

    .infoArrow {
        top: 30px !important;
        left: 304px !important;
        right: 0px;
    }

    .apr {
        top: -3px !important;
        right: -10px !important;
        width: 360px !important;
    }
}

/* ************** /

    Tablet Version 

/ ************** */
@media screen and (max-width: 767px) {

    .inputs .block .input p {
        top: 14px;
    }

    .inputs .block .input .blocktxt {
        margin: 0px 0px 0px 24px  !important;
    }

    .bottom .text > div {
        flex: 0 69.0% !important;
    }

    .inputs .block .dropdown .item small {
        color: var(--text-color-2) !important;
        font-size: 10px !important;
    }

    .infoArrow {
        top: 34px !important;
        left: 305px !important;
        right: 0px;
    }

    .apr {
        top: -8px !important;
        right: -10px !important;
        width: 370px !important;
    }

    .top {
        margin: 0 !important;
        padding-bottom: 10px !important;
        align-items: center !important;
        text-align: center !important;
        padding-top: 80px !important;
        margin: auto !important;
    }

    .top .title {
        width: 540px !important;
        height: 52px !important;
        font-size: 36px !important;
        margin: auto !important;
        padding-bottom: 15px !important;
    }

    .top .sub_tool {
        width: 540px !important;
        height: 52px !important;
        padding-top: 5px;
        font-size: 18px !important;
        margin: auto !important;
    }

    .inputs .pre {
        font-size: 15px;
    }

    .outputs {
        width: 100%;
        padding: 10px 0 60px;
    }

    .outputs .block p {
        font-size: 13px;
    }

    .bottom .blocks {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
    }

    .bottom .title_rewards {
        padding: 20px 0;
    }

    .info {
        width: 100%;
    }

    .outputs .block {
        padding: 0;
    }

    .outputs .block p {
        font-size: 14px;
    }

    .outputs .block h4 {
        font-size: 22px;
    }

    .outputs .block small {
        font-size: 12px;
    }

    .bottom .title_reward {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .bottom .infocontainer .info {
        flex: 2 1 50%
    }

    .bottom .infocontainer .sub {
        font-size: 20px !important;
    }

    .bottom .infocontainer .supplyp {
        font-size: 12px !important;
    }

    .text {
        position: relative;
        padding-top: 0;
        padding-bottom: 140px;
    }

    .area {
        padding-top: 0px !important;
    }

    .text .area {
        padding-bottom: 5px !important;
    }

    .bottom .text .area .txt {
        float: none;
    }

    .bottom .text .area .col1 {
        padding-right: 0px;
    }
    .bottom .text .area .col2 {
        padding-left: 0px;
    }

    /* .bottom .text .area {
        padding-left: 30px;
        padding-top: 0px !important;
        width: 704px !important;
    } */

    .bottom .text > div {
        flex: 0 100.0% !important;
        position: relative !important;
        margin: auto !important;
        overflow-x: auto;
        white-space: normal;
    }

    .txt_linebreak {
        display: none;
    }

    .bottom .text .area .txt .t_one {
        font-size: 16px !important;
    }

    .bottom .text .area .title .t_two {
        font-size: 16px !important;
    }

    .bottom .text .area .t_one::after {
        display: none;
    }
      
    .bottom .text .area .t_two::before {
        display: none;
    }

    .bottom .text .area .txt {
        font-size: 16px !important;
    }

    .bottom .text .area {
        padding-bottom: 30px !important;
    }
}

@media screen and (min-width:1180px) {
    .outputs {
        width: 66%;
    }
}
@media screen and (max-width: 710px) {

    /* Inputs  */
    .inputs {
        max-width: 95% !important;
    }

     /* BLOCK to stake: INPUT */
     .inputs .block input {
        width: 130px;
    }

    .infocontainer > div {
        
    }

    .bottom .infocontainer .info {
       
    }

    .bottom .title_rewards {
       
    }

    .bottom .text > div {
        flex: 0 90.0% !important;
        position: relative !important;
        margin: auto !important;
        overflow-x: auto;
        white-space: normal;
    }

}

@media screen and (max-width: 608px) {

    /* .top {
        margin: 0 !important;
        align-items: center !important;
        text-align: center !important;
        margin: auto !important;
    }

    .top .title {
        max-width: 90% !important;
       
        margin: auto !important;
        padding-bottom: 20px !important;
    }

    .top .sub_tool {
        max-width: 80% !important;
       
        margin: auto !important;
    }

    
    .outputs {
        width: 100%;
        margin: 12px 0;
    }

    .outputs .block {
        margin: 0 1px;
        padding-left: 25px;
        padding-right: 25px;
    } */

    /* Daily / monthly / yearly / apr title */
    .outputs .block p {
        margin: 30px 0 0 0;
        transition: .3s ease;
    }

    /* Inputs  */
    .inputs {
        /* max-width: 95% !important; */
    }

    
    .inputs .block input {
        height: 2.9rem;
        width: 130px;
        padding: 0 18px 0 12px;
        margin: 0 12px;
    }

    /* Stake for: INPUT Dropdown */
    .inputs .block button {
        height: 3rem;
        width: 140px;
        padding: 0 18px 0 12px;
        margin: 0 12px;
    }

    /* Price in USD INPUT */
    .inputs .block .input_pr {
        height: 2.9rem;
        width: 160px;
        padding: 0 18px 0 12px;
        margin: 0 12px;
    }
}

@media screen and (max-width: 588px) {

    .top {
        margin: 0 !important;
        align-items: center !important;
        text-align: center !important;
        margin: auto !important;
    }

    .top .title {
        max-width: 80% !important;
        height: 52px !important;
        margin: auto !important;
        padding-bottom: 30px !important;
    }

    .top .sub_tool {
        max-width: 80% !important;
        height: 52px !important;
        margin: auto !important;
        padding-top: 20px !important;
    }
    
    /* Fix svg */
    .inputs {
        max-width: 95% !important;
    }

    .bottom .infocontainer .title {
        font-size: 14px;
    }


    /* Inputs  */
    .block .input_pr .drop_input {
        padding-left: 60% !important;
        left: 1334px;
        padding-bottom: 2px;
    }
    
    .block .input .drop_input {
        padding-left: 67% !important;
        padding-bottom: 2px;
    }

    /* BLOCK to stake: INPUT */
    .inputs .block input {
        height: 2.9rem;
        width: 130px;
        padding: 0 14px 0 12px;
        margin: 0 12px;
    }

    /* Stake for: INPUT Dropdown */
    .inputs .block button {
        height: 3rem;
        width: 120px;
        padding: 0 18px 0 12px;
        margin: 0 12px;
    }

    /* Dropdown(s) */
    .inputs .block .dropdown {
        left: 0px !important;
        min-width: 70% !important;
        max-width: 87% !important;
        transition: .7s !important;
        margin-left: 12px !important;
    }

    .inputs .block .dr2 .dropdown[data-open="false"] {
        left: 0px !important;
        min-width: 70% !important;
        max-width: 83.2% !important;
        transition: .7s !important;
        margin-left: 12px !important;
    }

    .inputs .block .dr2 .dropdown[data-open="true"] {
        left: 0px !important;
        min-width: 70% !important;
        max-width: 83.2% !important;
        transition: .7s !important;
        margin-left: 12px !important;
    }

    .inputs .block .dropdown[data-open="true"] {
        left: 0px !important;
        min-width: 70% !important;
        max-width: 87% !important;
        transition: .7s !important;
        margin-left: 12px !important;
    }

    /* Price in USD INPUT */
    .inputs .block .input_pr {
        height: 2.9rem;
        width: 150px;
        padding: 0 18px 0 12px;
        margin: 0 12px;
    }


    /* Daily / monthly / yearly / apr title */
    .outputs .block p {
        margin: 30px 0 0 0;
        transition: .3s ease;
        width: 122px;
        padding-bottom: 5px;
    }

    .bottom {
        /* padding-left: 10px !important; */
    }
}

@media screen and (max-width: 540px) {

    .inputs {
        max-width: 95% !important;
    }

    /* Inputs  */
    .block .input_pr .drop_input {
        padding-left: 60%;
        left: 1334px;
        padding-bottom: 2px;
    }
    
    .block .input .drop_input {
        padding-left: 67%;
        padding-bottom: 2px;
    }

    /* BLOCK to stake: INPUT */
    .inputs .block input {
        height: 2.9rem;
        width: 100px;
        padding: 0 14px 0 12px;
        margin: 0 12px;
    }

    /* Stake for: INPUT Dropdown */
    .inputs .block button {
        height: 3rem;
        width: 110px;
        padding: 0 18px 0 12px;
        margin: 0 12px;
    }

    /* Price in USD INPUT */
    .inputs .block .input_pr {
        height: 2.9rem;
        width: 150px;
        padding: 0 18px 0 12px;
        margin: 0 12px;
    }

    .outputs .block {

    }

    /* Staking Rewards */
    .infocontainer > div {
        flex: 0 32%;
        margin-bottom: 10px;
        padding: 0 !important;
    }


    .infoArrow {
        top: 34px !important;
        left: 20px !important;
        right: -320px !important;
    }

    .outputs .block .apr {
        width: 340px !important;
        right: 10px !important;
    }

    .bottom {
        /* padding:0 20px; */
    }
}

@media (max-width: 500px) {

    .infoArrow {
        top: 33px !important;
        left: 20px !important;
        right: -320px !important;
    }

    .outputs .block .apr {
        width: 340px !important;
        right: 5px !important;
    }

    /* Staking Rewards */
    .infocontainer > div {
        flex: 0 33%;
        margin-bottom: 10px;
        padding: 0 !important;
        padding-left: 0px !important;
    }
}

/* ************** /

    Mobile Version 

/ ************** */
@media (max-width: 466px) {

    .errnotif span {
        left: 25%;
    }

    .errnotif  {
        max-width: 90%;
    }

    .bottom .text > div {
        flex: 0 100% !important;
        padding: 0 !important;
    }

    .top {
        margin: 0 !important;
        align-items: center !important;
        text-align: center !important;
        margin: auto !important;
        padding-bottom: 10px;
    }

    .top .title {
        width: 320px !important;
        height: 52px !important;
        font-size: 28px !important;
        margin: auto !important;
        padding-top: 60px !important;
    }

    .top .sub_tool {
        width: 320px !important;
        height: 52px !important;
        padding-top: 45px !important;
        font-size: 16px !important; 
        margin: auto !important;
    }

    .infocontainer > div {
        flex: 0 100% !important;
    }

    .txt_linebreak {
        display: block;
    }

    .title {
        font-size: 1.8rem;
    }

    .sub {
        font-size: 0.8rem;
    }

    .inputs .tidle {
        display: none;
    }

    /* Dropdown(s) */
    /* Bottom */
    .inputs .block .dropdown {
        left: 0px !important;
        min-width: 95% !important;
        max-width: 95% !important;
        transition: .7s !important;
        margin-left: 0px !important;
    }

    .inputs .block .dropdown[data-open="true"] {
        left: 0px !important;
        min-width: 95% !important;
        max-width: 95% !important;
        transition: .7s !important;
        margin-left: 0px !important;
    }

    /* Upper */
    .inputs .block .dr2 .dropdown[data-open="false"] {
        left: 0px !important;
        min-width: 95% !important;
        max-width: 95% !important;
        transition: .7s !important;
        margin-left: 0px !important;
    }

    .inputs .block .dr2 .dropdown[data-open="true"] {
        left: 0px !important;
        min-width: 95% !important;
        max-width: 95% !important;
        transition: .7s !important;
        margin-left: 0px !important;
    }

    .inputs {
        flex-direction: column;
    }

    .inputs .block {
        width: 100%;
        margin: 0 12px !important;
    }

    .inputs .block .input .blocktxt {
        margin: 0px 0px 0px 24px  !important;
    }

    .inputs .block input {
        width: 95% !important;
        margin: 0 !important;
    }

    .inputs .block .input {
        width: 95% !important;
        margin: 0 !important;
    }

    .inputs .block .input_pr {
        width: 95% !important;
        margin: 0  !important;
    }

    .inputs .block .input_pr p {
        left: 81%;
    }

    .inputs .pre {
        font-size: 15px;
        margin: 22px 0 4px 0px;
    }

    .inputs .block .input p {
        display: block;
        font-size: 14px;
    }

    .block .input_pr .drop_input {
        padding-left: 88% !important;
        left: 1334px;
        padding-bottom: 2px;
    }
    
    .block .input .drop_input {
        padding-left: 91.5% !important;
        padding-bottom: 2px;
    }


    .outputs .block .apr {
        right: -15px;
        width: 280px;
        top: -28px;
    }

    .outputs .block {

    }

     /* Staking Rewards */

    .outputs .block p {
        font-size: 15px;
    }

    .outputs .block h4 {
        font-size: 28px;
    }

    .outputs .block small {
        font-size: 12px;
    }

    .bottom .blocks {
        justify-content: flex-start;
        flex-direction: column;
    }


    .bottom .text .area .txt {
        float: none;
    }

    .bottom .title_rewards {
        font-size: 22px;
    }

    .bottom .infocontainer .title {
        font-size: 15px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .bottom .infocontainer .sub {
        font-size: 22px !important;
    }

    .bottom .infocontainer .supplyp {
        font-size: 12px !important;
    }

    

    .bottom .infocontainer .info .invis {
        font-size: 0px;
    }

    .bottom .text .area .txt .t_one {
        font-size: 16px !important;
    }

    .bottom .text .area .title .t_two {
        font-size: 16px !important;
    }

    .bottom .text .area .t_one::after {
        display: none;
    }
      
    .bottom .text .area .t_two::before {
        display: none;
    }

    .bottom .text .area .txt {
        font-size: 16px !important;
    }

    .bottom .text .area {
        padding-bottom: 30px !important;
    }

    .infoArrow {
        top: 60px !important;
        left: 143px !important;
        right: 0px !important;
    }

    .outputs .block .apr {
        width: 155% !important;
        right: 0px !important;
        top: -33px !important;
    }
}

@media (max-width: 413px) {

    .document_link {
        white-space: initial;
        word-wrap: break-word
        
    }

    .block .input_pr .drop_input {
        padding-left: 87% !important;
        left: 1334px;
        padding-bottom: 2px;
    }

    .block .input .drop_input {
        padding-left: 91.2% !important;
        padding-bottom: 2px;
    }

    .inputs .block .input_pr p {
        right: 0px !important;
        padding-right: -0px !important;
        left: 220px !important;
    }
}

@media (max-width: 380px) {

    .infoArrow {
        left: 150px !important;
    }
}

@media (max-width: 339px) {

    .inputs .block .dropdown {
        left: 0px !important;
        min-width: 85% !important;
        transition: .7s !important;
        margin-left: 23px !important;
    }

    /* Upper */
    .inputs .block .dr2 .dropdown[data-open="false"] {
        left: 0px !important;
        min-width: 85% !important;
        transition: .7s !important;
        margin-left: 23px !important;
    }

    .inputs .block .dr2 .dropdown[data-open="true"] {
        left: 0px !important;
        min-width: 85% !important;
        transition: .7s !important;
        margin-left: 23px !important;
    }

    .inputs .block .dropdown[data-open="true"] {
        left: 0px !important;
        min-width: 85% !important;
        transition: .7s !important;
        margin-left: 23px !important;
    }

    .inputs .block .input_pr p {
        right: 0px !important;
        padding-right: -0px !important;
        left: 165px !important;
    }

    .block .input_pr .drop_input {
        padding-left: 82% !important;
        left: 1334px;
        padding-bottom: 2px;
    }

    .block .input .drop_input {
        padding-left: 87.5% !important;
        padding-bottom: 2px;
    }

    .outputs .block {
        width: 35% !important;
        padding-left: 19px !important;
        padding-right: 10px !important;
    }

    /* Staking Rewards */
    .infocontainer > div {
        flex: 0 100%;
    }

    .bottom .title_reward {
        position: relative;
        /* right: 0px !important;
        left: 0.0vw !important; */
    }

    .inputs .block {
        width: 100%;
        margin: 0 12px !important;
    }

    .inputs .block .input .blocktxt {
        margin: 0px 0px 0px 24px  !important;
    }

    /* Inputs */
    .inputs .block input {
        width: 90% !important;
        margin: auto !important;
    }

    .inputs .block .input {
        width: 85% !important;
        margin: auto !important;
    }

    .inputs .block .input_pr {
        width: 85% !important;
        margin: auto !important;
    }

    /* Titles */
    .inputs .pre {
        font-size: 15px;
        margin: 22px 0 4px 0px;
        padding-left: 25px !important;
    }

    .inputs .block .input_pr p {
        left: 81%;
    }

    .inputs .block .input p {
        display: block;
        font-size: 14px;
    }

    .block .input_pr .drop_input {
        padding-left: 90%;
        left: 1334px;
        padding-bottom: 2px;
    }
    
    .block .input .drop_input {
        padding-left: 92%;
        padding-bottom: 2px;
    }

    .infoArrow {
        top: 60px !important;
        left: 190px !important;
        right: 0px !important;
    }
}

@media (max-width: 275px) {

    .inputs .block .dropdown {
        left: 17px !important;
        min-width: 77.7% !important;
        transition: .7s !important;
        margin-left: 23px !important;
    }

    .inputs .block .dr2 .dropdown[data-open="true"] {
        left: 17px !important;
        min-width: 77.7% !important;
        transition: .7s !important;
        margin-left: 23px !important;
    }

    .inputs .block .dropdown[data-open="true"] {
        left: 16px !important;
        min-width: 78% !important;
        transition: .7s !important;
        margin-left: 23px !important;
    }

    .inputs .block .input_pr p {
        right: 0px !important;
        padding-right: -0px !important;
        left: 155px !important;
    }

    .outputs .block {
        width: 35% !important;
        padding-left: 45px !important;
        padding-right: 1px !important;
    }

     /* Staking Rewards */
     .infocontainer > div {
        flex: 0 100%;
    }


    .bottom .title_reward {
        position: relative;
        /* right: 0px !important;
        left: 40px !important; */
    }

    /* Inputs */
    .inputs .block {
        padding-left: 10px !important;
    }
    .inputs .block .input {
        width: 80% !important;
        margin: auto !important;
    }

    .inputs .block .input_pr {
        width: 80% !important;
        margin: auto !important;
    }

    /* Titles */
    .inputs .pre {
        font-size: 15px;
        margin: 22px 0 4px 0px;
        padding-left: 35px !important;
    }

    .infoArrow {
        top: 60px !important;
        left: 236px !important;
        right: 0px !important;
    }
}

/* Disable input wheeling thingy */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Bottom paragraph link */
.document_link {
    text-decoration: none;
    color: #fff;
}
