@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --theme-color: #9a9c9e;
  --color-green: #64c264;

  --bg-color-0: #242424;
  /* Background */
  --bg-color-1: #383838;
  /* Input bg */
  --bg-color-2: #464646;
  /* Hover stuff */
  --bg-color-3: #1d1d1d;
  /* Background */

  --border-0: #3b3b3b;
  --border-1: #5a5a5a;

  --text-color-0: #fff;
  --text-color-1: #ccc;
  --text-color-2: #8a8a8a;

  --loader-0: #525151;
  /* Loader bg */
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: var(--bg-color-0);
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
}

#document_link {
  text-decoration: none;
  color: #1fa6cf;
}